/*
  Date: November 2016
  Version: 1.0
  Author: Ryan Schrader
*/

/* Imports */
@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

/***** Start Global *****/

/* Body */

/* Headings */
h1, h2, h3, h4, h5 , h6 {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-size: 72px;
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: .31em;
}

h3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: .31em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5em;
	color: #666;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

/* Anchors */
a {
	color: black;
}

#main-menu a:hover {
	border-bottom: 1px solid #000;
}

/* Paragraphs */
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
}

/* Lists */

/* Quotes */

/* Icons */
.ico-arrow-right {
	background: url(../images/svg/ico-arrow-long-right.svg) 0 -10px;
	width: 38px;
	height: 38px;
	float: left;
}

/* Classes */
.wrapper {
	margin: 0 auto;
}

.header-margin {
	margin: 20px;
}

.clear {
	clear: both;
}

.break {
	padding-bottom: 20px;
}

.ico-txt {
	float: left;
	margin-right: .6em;
}

.sticky {
    top: 0;
    position: fixed;
}

.page {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.disabled {
	background-color: red;
	position: relative;
	z-index: 9999;
	pointer-events: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*
  Header
*****************/

	header {
		width: 100%;
		height: 100px;
		z-index: 999;
	}

	#logo {
		float: left;
		width: 60px;
		height: 60px;
	}

	#status-wrap {
		float: left;
		height: 20px;
		padding: 20px;
	}

	#status {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
	}

	#main-menu {
		float: right;
	    height: 20px;
	    margin: 20px;
	}

	nav {
		display: inline;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		margin-right: 1.1em;
	}		

	nav a {
		text-decoration: none;
		margin: .6em;
		padding: 2px;
	}	

/*
  Section Hero
*****************/

#section-hero {
	position: relative;
	margin: 0 auto;
	width: 1110px;
	/*height: 1000px;*/
}

	#hero-photo {
		position: absolute;
		right: 0;
		width: 740px;
		height: 925px;
	}

	#txt-intro {
		position: absolute;
		left: 0;
		top: 70px;
		width: 530px;
	}

	#cta-work {
		position: absolute;
		left: 350px;
		top: 406px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
	}

	.vertical-text {
		transform: rotate(90deg);
		transform-origin: left top 0;
		-webkit-transform: rotate(90deg) translate3d( 0, 0, 0);
	}

/*
  Section Work
*****************/

#section-work {
	margin: 0 auto;
	max-width: 1480px;
	/* Fix spacing between figures 
	font-size: 0; */
}

	/* Figure */

	figure {
		float: left;
		width: 710px;
		margin: 1%;
	}

	figcaption {
		margin: 1em 0 2em 0;
	}


/*
  Footer
*****************/
footer {
	margin: 5em 0 15em 0;
	padding-left: 21%;
}

	#contact-details {
		margin-left: 25%;
	}

	dt {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.5em;
		color: #666;
		letter-spacing: 0.07em;
		padding: 0 0 5px 0;
	}

	dd {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.5em;
	}

	dd a {
		text-decoration: none;
	}


/*
  Temporary

header, nav, aside, article, footer, figure, div, section {
	border: 1px black solid;
    padding: 20px;
}



header {
	background-color: #FFED74;
}

nav {
	background-color: #E8C66A;
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
}

figure {
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E;
}

div {
	background-color: #FFE2B8;
}

section {
	background-color: #FFE2B8;
}

*****************/